
header {

    background-color: #f8f9fa;
    padding: 10px 60px;
    text-align: center;
    font-family: Arial, sans-serif;
    align-items:center;
}

/* Parte del carrito */
.carrito{
    width:50px;
    height: 50px;
    right: 20px;
    top: 10px;
}

.carrito-container {
    position: relative;
    display: inline-block;
}

.carrito-dropdown {
    display: none;
    position: absolute;
    top: 100%; /* justo debajo del icono  que se muestre lo comprado*/
    right: 0;  /* justo debajo del icono  que se muestre lo comprado*/
    background-color: white;
    min-width: 200px;
    padding: 10px;
}

.carrito-container:hover .carrito-dropdown {
    display: block; /* Mostrar el dropdown al pasar el mouse y que el display sea hacia abajo */
}

.carrito-dropdown table {
    width: 100%;
    border-collapse: collapse;
}

.carrito-dropdown th, .carrito-dropdown td {
    padding: 5px;
    border: 0px ;
    text-align: left;
}

.imageCarro {
    width: 20px;
    height: 20px;
}

 /* Segunda parte del header*/
.logo{
    padding-left: 30px;
    padding-right: 80px;
    width: 200px;
    height: 200px;


}

.description , .logo {
    font-size: 16px;
    color: #333;
    flex:wraP;

}

.description {
    font-size: 16px;
    color: #333;
    flex:wraP;
    padding-left: 70px;
    width: 60%;

}


#secondHeader  {
    display: flex;
    align-items:center;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

} 

#secondHeader,#firstHeader  {
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: space-between;

} 

/* para quitar margenes generadas por defecto */
html,
body {
  border: rgb(0, 0, 0) 0px solid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Usar min-height en lugar de height, esto resuelve el error que desaparece (vh es viewport, el 100 siginifca 100 porciento) */
}

