

#itemList{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
}

.item {
    display: block;
    height: 230px;
    width: 290px;
    border: 1px solid #000000;
    padding: 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    background-color: rgb(255, 255, 255);
}


.itemImage {
    height: 90px;
    width: 90px;
}

.itemTitle {
    margin: 0px ;
}